<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= header.title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/common.css">
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">Show <span class="label label-info">不秀不开心</span></a>
              <% if(header.canAdd){ %>
                <button type="button" class="btn btn-default navbar-btn" id="btnAddOne">添加作品</button>
              <% } %>
          </div>
      </nav>