<%
  var util = _require('utils/util');
  var groups = util.groupArray(works, 3);
%>
<% include modules/header %>
<% include modules/addOne %>
<iframe style="width: 100%;height:240px;margin:0 0 10px;" frameborder="0" scrolling="no" src="http://games.cdn.famobi.com/html5games/k/kk-jungle-chaos/v2/?fg_domain=html5games.com&fg_uid=53c7978d-2d1c-4adc-acf7-1ef040c242dc&fg_pid=4638e320-4444-4514-81c4-d80a8c662371&fg_beat=161"></iframe>
<div class="container-fluid" id="works">
    <% groups.forEach(function(group, i){%>
        <div class="row">
            <% group.forEach(function(work, i){;%>
                <% work.time = util.formatDate(work.time);%>
                <div class="col-md-4">
                    <% include modules/share/work %>
                </div>
            <%}); %>
        </div>
    <%}); %>
</div>

<% include modules/requirejs %>
<script src="/static/page/index.js"></script>
<% include modules/footer %>
