<%
  var util = _require('utils/util');
  var groups = util.groupArray(works, 3);
%>
<% include modules/header %>
<% include modules/addOne %>
<div class="jumbotron">
    <h1>不秀真不开心</h1>
</div>
<div class="container-fluid" id="works">
    <% groups.forEach(function(group, i){%>
        <div class="row">
            <% group.forEach(function(work, i){;%>
                <% work.time = util.formatDate(work.time);%>
                <div class="col-md-4">
                    <% include modules/share/work %>
                </div>
            <%}); %>
        </div>
    <%}); %>
</div>

<% include modules/requirejs %>
<script src="/static/page/index.js"></script>
<% include modules/footer %>
